header {
    text-align: center;
    margin:15px;
    padding: 5px;
    font-size: 350%;
    font-family:monospace;
    border: 5px solid grey;
    background-color: burlywood;


}
tr {
    background-color: #4CAF50;
    color: white;
}

tbody {
background-color: lightgrey;
}

th {
    font-family: monospace;
    font-size: 18px;
}

form {
    background-color: lightgrey;
    font-family: monospace;
    font-size: 16px;
}

h4 {
    background-color: lightblue;
    font-family: monospace;
}