.container {
    background-image: url(../images/trainstation.jpg);
    background-size: cover;
  
    font-family: monospace;
    color: white;
 
}

.jumbotron {
    color: black;
    opacity: 0.9;
}

